.background {

  &__shape1 {
    z-index: 1;
    position: absolute;

    @include breakpoint-up(medium) {
      left: -12%;
      top: -65%;
      width: 40%;
    }
    left: -50%;
    top: -96%;

    width: 100%;
    height: 150%;
    background: linear-gradient(45deg, $Light-Violet, $Light-Magenta);
    border: 0.01px solid $Light-Violet;
    border-radius: 500rem;

    transition-property: left, top, width;
    transition: 100ms ease-in-out;
  }

  &__shape2 {
    z-index: 1;
    position: absolute;

    @include breakpoint-up(medium) {
      right: -12%;
      bottom: -65%;
      width: 40%;
    }
    right: -50%;
    bottom: -96%;

    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.033);
    border-radius: 500rem;

    transition-property: left, top, width;
    transition: 100ms ease-in-out;
  }
}
