.main {
  position: relative;
  z-index: 2;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.875rem;

  @include breakpoint-down(medium) {
    margin-top: 1rem;
    gap: 40px;
    flex-direction: column;
  }

  &__phone {
    z-index: 3;
    position: relative;
    box-sizing: border-box;
    width: 15.5rem;
    height: 31.5625rem;
    background-color: $Light-Grayish-Violet;
    border-radius: 1.875rem;
    border: 0.625rem solid #fff;
    box-shadow: 0px 2rem 4.5rem 1px rgba(0, 0, 0, 0.25);

    &__notch {
      z-index: 2;
      position: relative;
      top: -0.625rem;
      width: 8.125rem;
      height: 1.75rem;
      margin: auto;
      background-color: #fff;
      border-radius: 0.75rem;
    }

    &__header {
      z-index: 1;
      position: relative;
      top: -1.75rem;
      width: 14.25rem;
      height: 4.125rem;
      background: linear-gradient(to right, $Light-Violet, $Light-Magenta);
      margin: auto;
      border-radius: 1.125rem 1.125rem 0.3125rem 0.3125rem;
    
        &__content {
          margin: 0 0.75rem;
          position: absolute;
            display: grid;
            grid-template-columns: 0.5fr 1fr 5fr 0.5fr;
            gap: 0.25rem;
            align-items: center;
          margin-top: 1.875rem;

          &__return {
            color: $White;
            text-align: center;
            transform: scaleY(1.25);
          }

          &__img {
            height: 1.5rem;
            width: 1.5rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border: 1px solid white;
            border-radius: 100%;
          }

          &__text {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
    
            &__heading {
              font-size: 0.6875rem;
              color: $White;
              letter-spacing: 0.2px;
            }
        
            &__subheading {
              font-size: 0.5rem;
              color: $Pale-Violet;
            }
          }

          &__menu {

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 1px;
            margin-left: 1rem;
            
            span {
              display: block;
              width: 2px;
              height: 2px;
              background-color: $White;
            }
          }
        }
    }

    &__chat {
      position: relative;
      font-size: 0.53125rem;
      top: -1.125rem;
      width: 95%;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      word-wrap: break-word;

      &__msgLeft {
        color: $Moderate-Violet;
        background-color: rgba(0, 0, 0, 0.05);
        width: 53%;
        padding: 0.5rem;
        border-radius: 0.625rem 0.625rem 0.625rem 0.25rem;
      }

      .leftLast {
        margin-top: 0.5rem;
      }

      &__msgRight {
        color: $Desaturated-Dark-Violet;
        background-color: $White;
        box-shadow: 0px 6px 12px -8px rgba(0, 0, 0, 0.10);
        width: 54%;
        padding: 0.5rem;
        border-radius: 0.625rem 0.625rem 0.25rem 0.625rem;
        margin-left: auto;
      }

      .small {
        width: 31%;
        text-align: end;
      }

      &__imgs {
        display: flex;
        gap: .5rem;
        margin-left: auto;
        margin-top: 0.5rem;

        &__img {
          width: 2.5rem;
          height: 2.5rem;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: .5rem;
        }
      }

      &__offer {
        color: $White;
        background: linear-gradient(to right, $Light-Magenta, $Light-Violet);
        width: 77.5%;
        padding: .6875rem 0px;
        border-radius: 0.625rem 0.625rem 0.625rem 0.25rem;
      
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;

        &__button {
          margin: auto;
          width: .75rem;
          height: .75rem;
          background-color: transparent;
          border: 1px solid $White;
          border-radius: 100%;
        }

        // &__text {

        // }

        &__price {
          font-weight: 700;
          font-size: .6875rem;
          text-align: start;
        }
      }

      &__message {
        height: 2.0625rem;
        width: 100%;
        margin: auto;
        background-color: $White;
        border-radius: 1rem;

        display: grid;
        grid-template-columns: 80% 20%;
        align-items: center;

        &__text {
          color: $Grayish-Blue;
          margin-left: 1.25rem;
        }

        &__button {
          height: 1.5rem;
          width: 1.5rem;
          margin: auto;
          font-weight: 700;
          font-size: 1.125rem;
          color: $White;
          background-color: $Very-Dark-Desaturated-Violet;
          border: none;
          border-radius: 100%;
        }
      }

    }
  }

  &__text {
    width: 31%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include breakpoint-down(medium) {
      width: 60%;
      text-align: center;
    }

    &__title {
      color: $Very-Dark-Desaturated-Violet;
      font-weight: 700;
      font-size: 250%;
    }

    &__body {
      color: $Dark-Grayish-Violet;
      line-height: 1.5rem;
    }
  }
}
